!!! XHTML 5
%html{html_attrs}
  %head
    %title= page_title
    %meta{ name: "description", content: page_description }/

    %meta{ property: 'og:title', content: page_title }/
    %meta{ property: 'og:description', content: page_description }/

    -if @post
      %meta{ property: 'og:image', content: "https://benhoad.net#{main_image(@post)}" }/
      %meta{ property: 'og:url', content: "https://benhoad.net/#{@post.slug}" }/
    -else
      %meta{ property: 'og:image', content: 'https://benhoad.net/images/ben-profile.jpg' }/
      %meta{ property: 'og:url', content: 'https://benhoad.net' }/

    
    %meta{ property: 'og:type', content: 'article' }/
    %meta{ property: 'fb:admins', content: '632768409' }/
    %meta{ property: 'article:author', content: '632768409' }/
    
    %meta{ name: "author", content: "Ben Hoad" }/
    %meta{ name: "google-site-verification", content: "wtlEOFJ0tj_1UxYEj6Yoru93npUE6Gx0ahj8rrP5nik" }/
    %meta{ :'http-equiv' => "Content-type", content: "text/html;charset=UTF-8" }/
    
    %meta{ name: 'p:domain_verify', content: "af2f718c472c4377aa9bccb03e81aa4e" }/
    
    %meta{ name: "viewport", content: "width=device-width, minimum-scale=1.0, maximum-scale=1.0" }/
    %link{ rel: "apple-touch-icon", type: "image/png", href: "/images/apple-touch-icon.png" }/
    %link{ rel: "alternate", type: "application/rss+xml", href: "http://feeds.feedburner.com/benhoad", title: "benhoad.net RSS" }/
    %link{ rel: "icon", type: "image/png", href: "/images/favicon.png" }/
    
    %style
      = @style
    
  %body
    %header
      .navigation
        .nav
          %ul
            %li
              = link_to 'Life', "/tags/life"
            %li
              = link_to 'Design', "/tags/design"
            %li
              = link_to 'Code', "/tags/code"
            %li
              = link_to 'Stuff', "/tags/stuff"
            %li
              = link_to 'Archive', "/archive"

        .spinner#spinner
        .nav
          %ul
            %li
              = link_to 'Twitter', 'http://twitter.com/benhoad'
            %li
              = link_to 'GitHub', 'http://github.com/benhoad'
            %li
              = link_to 'Instagram', 'http://instagram.com/ben_hoad'
            %li
              = link_to 'Linkedin', 'https://www.linkedin.com/in/benjamin-hoad-21797168/'
            %li#elink
              %span Email
      %h1
        %a{ href: '/' }
          %span Ben Hoad
      .subline
        .tagline
          COLORS + CODE
    
    %section
    
      = yield
      
          
    %footer
      
      %section
        = link_to 'Twitter', 'http://twitter.com/benhoad'
        &middot;
        = link_to 'GitHub', 'http://github.com/benhoad'
        &middot;
        = link_to 'Instagram', 'http://instagram.com/ben_hoad'
        &middot;
        = link_to 'Linkedin', 'https://www.linkedin.com/in/benjamin-hoad-21797168/'
        &middot;
        = link_to 'RSS', '/rss'
      
      %aside
        &copy;
        = Time.now.year
        Ben Hoad

    .overlay#overlay
      .popup#popup
        .content
          .clipboard-msg
            Email address copied to clipboard!
          .subtext
            This is done to prevent scraping and accidentally opening Mail/Outlook with a 'mailto' link.

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9426233-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
      WebFontConfig = {
        google: { families: ['Montserrat:400,700'] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
      
      #{@script}

      cheet('↑ ↑ ↓ ↓ ← → ← → b a', function () {
        konami();
        document.body.scrollTop = 0;
        document.getElementsByTagName('section')[0].innerHTML= `<div style="position:relative;height:0;padding-bottom:75.0%"><iframe src="https://www.youtube.com/embed/ZZ5LpwO-An4?rel=0&amp;controls=0&amp;showinfo=0?ecver=2&autoplay=1&loop=1" width="480" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>`;
      });

      function copyToClipboard(text){
        var input = document.createElement('textarea');
        let scrolltop = document.body.scrollTop;
        document.body.appendChild(input);
        input.value = text;
        input.focus();
        input.select();
        document.execCommand('Copy');
        input.remove();
        document.body.scrollTop = scrolltop;
      }

      function toggleClass(element, className){
          if (!element || !className){
              return;
          }
          if (element.classList) { 
              element.classList.toggle(className);
          } else {
              var classes = element.className.split(" ");
              var i = classes.indexOf(className);

              if (i >= 0) 
                  classes.splice(i, 1);
              else 
                  classes.push(className);
                  element.className = classes.join(" "); 
          }
      }

      function addClass(element, className){
          if (!element || !className){
              return;
          }
          if (element.classList) { 
              element.classList.add(className);
          } else {
              var classes = element.className.split(" ");
              var i = classes.indexOf(className);

              if (i == -1) 
                classes.push(className);
                element.className = classes.join(" "); 
          }
      }

      document.addEventListener('DOMContentLoaded', function windowLoad () {

        if( /Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent) ) {
            document.body.scrollTop = 240;
        }

        var overlay = document.getElementById('overlay');
        overlay.addEventListener('click', function overlayClick(){
          toggleClass(document.body, 'showEmail');
          clearTimeout(waiter);
        });


        var elink = document.getElementById('elink');   

        var waiter;     
        elink.addEventListener('click', function elinkClick() {
          copyToClipboard(('ben'+"@"+'benhoad'+".net"));

          addClass(document.body, 'showEmail');
          console.log('setting time out');

            waiter = setTimeout(
              function copyingLoader(){
                console.log('timing out');
                let popup = document.getElementById('popup')
                addClass(popup, 'loaded');                            
              }, 
              1500
            );
          });
      });

      